certifi==2022.9.24
click==8.0.3
dnspython==2.1.0
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
passlib==1.7.4
pymongo==3.12.1
python-dotenv==1.0.1
pytz==2024.2
tzlocal==5.2
Werkzeug==2.0.2

gunicorn 
# gunicorn helps with running the app on linux