<!doctype html>
<html lang="en">
{%import "macros.html" as macros%}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>swapz - About</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>


  {{macros.navbar()}}

  <div class="text-center">
    <div class="cover-container d-flex p-3 col-md-8 mx-auto flex-column">
      <h1>About Us!</h1>
      <p>Who are we?</p>
      <img height="385" width="300" src="../static/sid_saan.png" class="align-self-center">
    </div>
    <strong>FAQs</strong>
    <div class="p-4 mx-auto">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Who are you all? Why did you make this application?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              We are <strong>Siddharth and Saanvi Kohli. We're twins and juniors in high school</strong>. We created swapz after realizing how much waste the fashion industry creates in the world around us, and after we realized we needed to use the resources we have to make a change. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              What is the point? Who is it for?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Our app was made to reduce the amount of waste which fast fashion has in our community. It helps to reduce this by creating a <strong>safe, secure</strong> platform
              where people can easily trade their clothing items with others for a more sustainable community in general.
              
              The target audience is mostly for high school students after their dances, or any of our Northern California community members who want to spice up their wardrobes! 
              We plan on spreading word of mouth by posting QR codes to this site (when live) at our local libraries, schools, and other public locations.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What sets your app apart from the rest?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Strong encryption and real time messaging.</strong> All users of our application are guaranteed encrypted usernames and passwords,
              and nobody can access any of their data from the server side. Furthermore, it was really important to us that we use Python–based flask backend and real-time sockets communication software
              to create a safe, up to date messaging area for users.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Credits
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong> Development:</strong> Siddharth Kohli
              <strong> Design, UI/UX:</strong> Saanvi Kohli
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{macros.footer()}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>